header.main-header {
  width: 100%;
  background-color: whitesmoke;
  position: relative;
}
header.main-header div.wrap {
  height: 30rem;
  max-width: 1024px;
  width: 100vw;
  margin: auto;
}
header.main-header img.logo {
  padding: 5.75rem 0rem 1rem 1.3rem;
  height: 5rem;
  box-sizing: content-box;
}
header.main-header h1 {
  color: #104b7d;
  font-size: 2.3rem;
  padding: 1.2rem 1.3rem;
  font-weight: 900;
  font-style: strong;
}

div.question-box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0.3rem 0;
}
div.question-box label.question {
  font-size: 1.8rem;
  color: #104b7d;
  font-weight: 400;
  flex-basis: 80%;
}
div.question-box button.help {
  flex-basis: 5%;
  height: 80%;
  background-color: #104b7d;
  border-color: whitesmoke;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  margin-left: 0.75rem;
}

div.popover-body {
  font-size: 1.3rem;
}

div.question-divider {
  padding-bottom: 1.3rem;
}

div.progress {
  display: flex;
  border-radius: 5rem;
  height: 2.4rem;
  box-shadow: 0 0 0.3rem black;
  margin-bottom: 4rem;
  margin-top: 4rem;
}
div.progress label {
  text-align: center;
  font-weight: bolder;
  font-size: 1.5rem;
  margin: auto;
}
div.progress .progress-bar {
  background-color: #104b7d;
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: whitesmoke;
}

body.index-body {
  background-color: #d8eee9;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

section.calcs, section.form {
  position: relative;
  padding: 2rem 0;
  bottom: 15rem;
  max-width: 1024px;
  width: 100vw;
  margin: auto;
}

div.calc-row {
  width: 100%;
  display: flex;
}

div.calc {
  height: fit-content;
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.calc a.ROI-icon {
  transform: scale(1);
}
div.calc a.ROI-icon:hover {
  transform: scale(1.1);
}
div.calc img.ROI-pic {
  height: 85%;
  width: 100%;
  max-width: 27rem;
  max-height: 24rem;
}
div.calc a.ROI-type, div.calc h2.ROI-type {
  text-align: left;
  color: #104b7d;
  font-size: 1.5rem;
  margin-top: -1.7rem;
}

div.progress {
  margin: auto;
  position: relative;
  bottom: 15rem;
  margin-bottom: 3rem;
}

form.form-box {
  padding: 3rem;
  border-radius: 2rem;
  width: 80vw;
  max-width: 1024px;
}
form.form-box div.form-group input[type=text], form.form-box div.form-group input[type=email], form.form-box div.form-group input[type=number], form.form-box div.form-group input[type=tel] {
  background-color: #7FC9B0;
}
form.form-box div.form-group label.info-label {
  font-size: 1.8rem;
  color: #104b7d;
}
form.form-box div.form-group input {
  margin: 0.3rem 0;
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
}

button.btn-primary {
  font-size: 1.7rem;
  font-weight: bolder;
  padding-left: 2rem;
  background-color: #104b7d;
  border-color: whitesmoke;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  margin-left: 0.75rem;
}

div.nav-button {
  padding-top: 3rem;
  margin: 0 auto;
  text-align: center;
}

.slidecontainer {
  width: 50%;
}

.slider {
  -webkit-appearance: none;
  width: 75%;
  height: 1.25rem;
  margin: 2rem 0rem 3rem;
  background: #7FC9B0;
  border-radius: 1rem;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slider:hover {
  opacity: 0.9;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  background: #0266AC;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #0266AC;
  cursor: pointer;
}

div.range-slider label {
  font-size: 3rem;
  color: #104b7d;
}

/*# sourceMappingURL=main.css.map */
