@import '../abstracts/_abstracts'
    
*
    margin: 0
    padding: 0
body, html
    font-family: 'Poppins', sans-serif
    font-size: 62.5%
    height: 100%
    

body
    background-color: whitesmoke

    
// the last style is the only one applied
body.index-body
    background-color: $light-green
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    // background-image: linear-gradient(#F7F7F7, #F7F7F7 50%, #E2EEEA, #E2EEEA 50%)


a
    text-decoration: none
